li{
    margin-right: 100px;
}

.destaque{
    background-color: darkgrey;
}

.rodape{
    background-color: dimgray;
    color: whitesmoke;
}

.link{
    color: white;
}

.card-title{
    border: 1px solid gray;
    border-top: 0px;
    border-radius: 10px;
    margin-top: -1em;
    box-shadow: 1px 1px 5px gray;
    z-index: -5;
    padding: 1em;

}

